In [34]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [35]:
#part (a)

#download the 
tickers=['SKT','DHC','AVB','TSLA','MSFT','GOOGL','IBDRY'] # first 3 are REIT's, next 3 are tech companies, last 1 is green energy
etfs=['SPY','IWM','DIA']
df_my_final_project={'ticker': tickers}
df_my_final_project=pd.DataFrame(df_my_final_project)

In [36]:
#my_portfolio (setting the weights)
weight=[1/7*100]*7 # 14 ownership in each stock
df_my_final_project.insert(1,'weight', weight, True)

In [37]:
#code from class
adj_close = yf.download(tickers+etfs,period='10y')['Adj Close']
close = yf.download(tickers+etfs,period='10y')['Close']
returns = adj_close.pct_change()

data=(returns[-63:].std())*(252**.5)
datas=[]
for i in data:
    datas.append(i)
df_my_final_project['Volatility']=pd.DataFrame(datas)

[*********************100%%**********************]  10 of 10 completed
[*********************100%%**********************]  10 of 10 completed

In [38]:
#Beta against spy
for i in etfs:
    data=returns[-252:].cov()['SPY']/returns[-252:]['SPY'].var()
    datas=[]
    for j in data:
        datas.append(j)
    df_my_final_project['Beta against '+i]=pd.DataFrame(datas)
df_my_final_project

,ticker,weight,Volatility,Beta against SPY,Beta against IWM,Beta against DIA
0,SKT,14.285714,0.169594,0.930270,0.930270,0.930270
1,DHC,14.285714,0.782626,1.943401,1.943401,1.943401
2,AVB,14.285714,0.090557,0.769747,0.769747,0.769747
3,TSLA,14.285714,0.257083,1.392809,1.392809,1.392809
4,MSFT,14.285714,0.211754,0.603354,0.603354,0.603354
5,GOOGL,14.285714,0.142926,1.113414,1.113414,1.113414
6,IBDRY,14.285714,0.230682,1.396238,1.396238,1.396238

In [42]:
#Calculate 52 week high (52-week Low minus 52-week High) / 52-week High (According to the pdf)
listing=[]
for i in tickers:
    listing.append((min(adj_close[i][-366:-1])-max(adj_close[i][-366:-1]))/max(adj_close[i][-366:-1]))

df_my_final_project['Average Weekly Drawdown']=pd.DataFrame(listing)
min(2,6)

2

In [44]:
#Calculate 52 week high (52-week Low minus 52-week High) / 52-week High (According to the pdf) (There's clearly a problem)
listing=[]
for i in tickers:
    a=adj_close[i][-366:-1]
    b=close[i][-366:-1]
    listing.append(((min(min(a),min(b)))-max(max(a),max(b)))/max(max(a),max(b)))

df_my_final_project['Maximum Weekly Drawdown']=pd.DataFrame(listing)

In [45]:
#The formula for calculating total return is Total Return = (Ending Value – Beginning Value + Dividends or Interest) / Beginning Value * 100
#link: https://www.wallstreetmojo.com/total-return-formula/ (i googled "total return formula")
listing=[]
for i in tickers:
    listing.append((adj_close[i][-1]-adj_close[i][0])/adj_close[i][0]*100)
df_my_final_project['Total Return']=pd.DataFrame(listing)

In [46]:
#link: https://www.investopedia.com/terms/a/annualized-total-return.asp#:~:text=Key%20Takeaways-,An%20annualized%20total%20return%20is%20the%20geometric%20average%20amount%20of,the%20annual%20return%20was%20compounded.
#AR=(1+cumutalive_returns)^(365/days_held)-1    
#link: https://www.wallstreetoasis.com/resources/skills/finance/annualized-total-return final/initial^1/n-1
listing=[]
for i in tickers:
    listing.append(((adj_close[i][-1]/adj_close[i][0])**.1)-1)
df_my_final_project['Annualized Total Return']=pd.DataFrame(listing)

In [47]:
#Calculate 52 week high (52-week Low minus 52-week High) / 52-week High (According to the pdf)
'''
def calcAverage52weekhigh(stock):
    Low, High=[],[] #we need this to have 52 inputs
    for i in range(-365,-1,7):
        Low.append(np.mean(my_portfolio['Low'][stock][-i:-i+7]))
        
    for i in range(-365,-1,7):
        High.append(np.mean(my_portfolio['High'][stock][-i:-i+7]))

    AVG=(np.mean(Low)-np.mean(High))/np.mean(High) #I think the equation is wrong but here it is
    return AVG
    
listing=[]
for i in tickers:
    listing.append(calcAverage52weekhigh(i))
'''

"\ndef calcAverage52weekhigh(stock):\n    Low, High=[],[] #we need this to have 52 inputs\n    for i in range(-365,-1,7):\n        Low.append(np.mean(my_portfolio['Low'][stock][-i:-i+7]))\n        \n    for i in range(-365,-1,7):\n        High.append(np.mean(my_portfolio['High'][stock][-i:-i+7]))\n\n    AVG=(np.mean(Low)-np.mean(High))/np.mean(High) #I think the equation is wrong but here it is\n    return AVG\n    \nlisting=[]\nfor i in tickers:\n    listing.append(calcAverage52weekhigh(i))\n"

In [48]:
df_my_final_project # Table 1 Complete (I think)

,ticker,weight,Volatility,Beta against SPY,Beta against IWM,Beta against DIA,Average Weekly Drawdown,Maximum Weekly Drawdown,Total Return,Annualized Total Return
0,SKT,14.285714,0.169594,0.930270,0.930270,0.930270,-0.482223,-0.482223,11.409646,0.010863
1,DHC,14.285714,0.782626,1.943401,1.943401,1.943401,-0.812033,-0.812033,-86.023839,-0.178630
2,AVB,14.285714,0.090557,0.769747,0.769747,0.769747,-0.352481,-0.387317,88.373177,0.065374
3,TSLA,14.285714,0.257083,1.392809,1.392809,1.392809,-0.659570,-0.659570,2152.385322,0.365414
4,MSFT,14.285714,0.211754,0.603354,0.603354,0.603354,-0.408470,-0.409719,1066.632104,0.278478
5,GOOGL,14.285714,0.142926,1.113414,1.113414,1.113414,-0.396353,-0.396353,537.066144,0.203423
6,IBDRY,14.285714,0.230682,1.396238,1.396238,1.396238,-0.342626,-0.360367,182.296422,0.109355

In [49]:
#Now lets start table 2

In [50]:
etfs=['SPY','IWM','DIA']
for i in tickers:
    etfs.append(i)
table_two={'etfs ticker': etfs}
table_two=pd.DataFrame(table_two)
table_two

  etfs ticker
0         SPY
1         IWM
2         DIA
3         SKT
4         DHC
5         AVB
6        TSLA
7        MSFT
8       GOOGL
9       IBDRY

In [51]:
adj_close = yf.download(tickers+etfs,period='10y')['Adj Close']
adj_close

[*********************100%%**********************]  10 of 10 completed

,AVB,DHC,DIA,GOOGL,IBDRY,IWM,MSFT,SKT,SPY,TSLA
Date,,,,,,,,,,
2013-10-10,92.481323,13.308376,122.102898,21.727728,15.331398,92.803162,28.271114,20.599646,140.999985,11.528667
2013-10-11,92.877441,13.419375,123.081680,21.821571,15.363209,94.149658,28.580961,20.771410,141.908539,11.913333
2013-10-14,92.625404,13.424919,123.591202,21.924675,15.496801,94.621819,28.848923,20.728468,142.475266,11.981333
2013-10-15,92.546158,13.334670,122.410255,22.072323,15.363209,93.695000,28.882439,20.753010,141.441788,12.262667
2013-10-16,94.476295,13.577222,124.173569,22.473223,15.751262,94.857887,29.008034,21.041328,143.417175,12.237333
...,...,...,...,...,...,...,...,...,...,...
2023-10-03,167.410004,1.810000,329.980011,132.429993,41.730000,171.139999,313.390015,21.920000,421.589996,246.529999
2023-10-04,168.300003,1.880000,330.989990,135.240005,42.430000,171.220001,318.959991,22.410000,424.660004,261.160004
2023-10-05,170.259995,1.880000,331.170013,135.070007,42.910000,171.350006,319.359985,22.400000,424.500000,260.049988
2023-10-06,172.000000,1.830000,334.100006,137.580002,43.169998,173.000000,327.260010,22.480000,429.540009,260.529999
2023-10-09,174.210007,1.860000,336.089996,138.419998,43.279999,174.000000,329.820007,22.950001,432.290009,259.670013

In [52]:
#correlation against 3 etfs
etfs

['SPY', 'IWM', 'DIA', 'SKT', 'DHC', 'AVB', 'TSLA', 'MSFT', 'GOOGL', 'IBDRY']

In [53]:
def corr(a,b):
    return np.cov(a,b)[1,0]/(np.std(a)*np.std(b))
corr(adj_close['AVB'],adj_close['AVB']) # it sort of works i guess

1.0003976143141153

In [54]:
np.std(adj_close['AVB'])

32.99934847689242

In [55]:
np.cov(adj_close['AVB'],adj_close['SPY'])[1,0]

2647.1437848830765

In [56]:
np.var(adj_close['AVB'])

1088.9569998993823

In [57]:
corr_against_spy=[]
for i in etfs:
    corr_against_spy.append(corr(adj_close['SPY'],adj_close[i]))
table_two['corr_against_spy']=pd.DataFrame(corr_against_spy)

In [58]:
corr_against_IWM=[]
for i in etfs:
    corr_against_IWM.append(corr(adj_close['IWM'],adj_close[i]))
table_two['corr_against_IWM']=pd.DataFrame(corr_against_IWM)

In [59]:
corr_against_DIA=[]
for i in etfs:
    corr_against_DIA.append(corr(adj_close['DIA'],adj_close[i]))
table_two['corr_against_DIA']=pd.DataFrame(corr_against_DIA)

In [60]:
table_two #I think this is what was wanted

  etfs ticker  corr_against_spy  corr_against_IWM  corr_against_DIA
0         SPY          1.000398          0.949709          0.990955
1         IWM          0.949709          1.000398          0.952298
2         DIA          0.990955          0.952298          1.000398
3         SKT         -0.430103         -0.402500         -0.474754
4         DHC         -0.858142         -0.721714         -0.836207
5         AVB          0.835060          0.815459          0.835533
6        TSLA          0.908842          0.859068          0.854128
7        MSFT          0.987454          0.901271          0.965789
8       GOOGL          0.982637          0.936127          0.957537
9       IBDRY          0.937436          0.868104          0.934601

In [61]:
cov_against_IWM=[]
for i in etfs:
    cov_against_IWM.append(np.cov(adj_close['IWM'],adj_close[i])[0,1])
table_two['cov_against_IWM']=pd.DataFrame(cov_against_IWM)

In [62]:
cov_against_SPY=[]
for i in etfs:
    cov_against_SPY.append(np.cov(adj_close['SPY'],adj_close[i])[0,1])
table_two['cov_against_SPY']=pd.DataFrame(cov_against_SPY)

In [63]:
cov_against_DIA=[]
for i in etfs:
    cov_against_DIA.append(np.cov(adj_close['DIA'],adj_close[i])[0,1])
table_two['cov_against_DIA']=pd.DataFrame(cov_against_DIA)

In [64]:
#Tracking error https://www.youtube.com/watch?app=desktop&v=vjYeWMgfSxA&ab_channel=RicThomas   sqrt(sum(Rp-Ri)^2/N-1)  
#https://www.multpl.com/10-year-treasury-rate/table/by-month currently its 4.78%

Ri=.0478
Rp=0
tracking_error=[]

In [65]:
#Sharp ratio https://ycharts.com/indicators/10_year_treasury_rate RISK FREE RETURN NUMBERS
#https://www.google.com/search?q=sharpe+ratio&rlz=1C1RXQR_enUS953US953&oq=sharpe+ratio&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIGCAEQRRhAMhIIAhAAGBQYgwEYhwIYsQMYgAQyBwgDEAAYgAQyCggEEAAYsQMYgAQyBggFEEUYPDIGCAYQRRg8MgYIBxBFGDzSAQgyMDc2ajBqNKgCALACAA&sourceid=chrome&ie=UTF-8

sharp_ratio=[]
for i in etfs:
    sharp_ratio.append((((adj_close[i][-1]/adj_close[i][0])-1)-0.0478)/np.std(adj_close[i]))
table_two['sharp_ratio']=pd.DataFrame(sharp_ratio)
table_two

,etfs ticker,corr_against_spy,corr_against_IWM,corr_against_DIA,cov_against_IWM,cov_against_SPY,cov_against_DIA,sharp_ratio
0,SPY,1.000398,0.949709,0.990955,3431.166720,9231.707030,6959.007478,0.021008
1,IWM,0.949709,1.000398,0.952298,1415.030063,3431.166720,2618.231372,0.021993
2,DIA,0.990955,0.952298,1.000398,2618.231372,6959.007478,5346.258522,0.023319
3,SKT,-0.430103,-0.402500,-0.474754,-77.334585,-211.075799,-177.303935,0.012977
4,DHC,-0.858142,-0.721714,-0.836207,-138.171236,-419.633225,-311.177687,-0.178381
5,AVB,0.835060,0.815459,0.835533,1012.054806,2647.143785,2015.615871,0.025332
6,TSLA,0.908842,0.859068,0.854128,3455.807951,9338.320168,6678.630611,0.200784
7,MSFT,0.987454,0.901271,0.965789,3345.342750,9361.828496,6968.024861,0.107591
8,GOOGL,0.982637,0.936127,0.957537,1260.321907,3379.078358,2505.788030,0.148695
9,IBDRY,0.937436,0.868104,0.934601,367.782410,1014.422348,769.639224,0.157585

In [66]:
#Annualized Volatility (see if you can modofy the code from class accordingly)
#code from class
adj_close = yf.download(tickers+etfs,period='10y')['Adj Close']
returns = adj_close.pct_change()

data=(returns[-252:].std())*(252**.5)
datas=[]

for i in data:
    datas.append(i)
table_two['Volatility']=pd.DataFrame(datas)
table_two

[*********************100%%**********************]  10 of 10 completed

,etfs ticker,corr_against_spy,corr_against_IWM,corr_against_DIA,cov_against_IWM,cov_against_SPY,cov_against_DIA,sharp_ratio,Volatility
0,SPY,1.000398,0.949709,0.990955,3431.166720,9231.707030,6959.007478,0.021008,0.242038
1,IWM,0.949709,1.000398,0.952298,1415.030063,3431.166720,2618.231372,0.021993,1.065041
2,DIA,0.990955,0.952298,1.000398,2618.231372,6959.007478,5346.258522,0.023319,0.138550
3,SKT,-0.430103,-0.402500,-0.474754,-77.334585,-211.075799,-177.303935,0.012977,0.337822
4,DHC,-0.858142,-0.721714,-0.836207,-138.171236,-419.633225,-311.177687,-0.178381,0.193764
5,AVB,0.835060,0.815459,0.835533,1012.054806,2647.143785,2015.615871,0.025332,0.210133
6,TSLA,0.908842,0.859068,0.854128,3455.807951,9338.320168,6678.630611,0.200784,0.304885
7,MSFT,0.987454,0.901271,0.965789,3345.342750,9361.828496,6968.024861,0.107591,0.286847
8,GOOGL,0.982637,0.936127,0.957537,1260.321907,3379.078358,2505.788030,0.148695,0.165899
9,IBDRY,0.937436,0.868104,0.934601,367.782410,1014.422348,769.639224,0.157585,0.600812

In [67]:
#Correlation matrix 7 stocks and 3 etfs
corr_matrix=[]

list_i=[]
for i in range(len(etfs)):
    for j in range(len(etfs)):
        list_i.append(corr(adj_close[etfs[i]],adj_close[etfs[j]]))
    corr_matrix.append(list_i)
    list_i=[]
corr_matrix=pd.DataFrame(corr_matrix,columns=etfs,index=etfs)
corr_matrix

,SPY,IWM,DIA,SKT,DHC,AVB,TSLA,MSFT,GOOGL,IBDRY
SPY,1.000398,0.949709,0.990955,-0.430103,-0.858142,0.835060,0.908842,0.987454,0.982637,0.937436
IWM,0.949709,1.000398,0.952298,-0.402500,-0.721714,0.815459,0.859068,0.901271,0.936127,0.868104
DIA,0.990955,0.952298,1.000398,-0.474754,-0.836207,0.835533,0.854128,0.965789,0.957537,0.934601
SKT,-0.430103,-0.402500,-0.474754,1.000398,0.544170,-0.310111,-0.262737,-0.437679,-0.374079,-0.581739
DHC,-0.858142,-0.721714,-0.836207,0.544170,1.000398,-0.635064,-0.809527,-0.900371,-0.830252,-0.896533
AVB,0.835060,0.815459,0.835533,-0.310111,-0.635064,1.000398,0.722450,0.790716,0.841766,0.705558
TSLA,0.908842,0.859068,0.854128,-0.262737,-0.809527,0.722450,1.000398,0.919365,0.933588,0.822986
MSFT,0.987454,0.901271,0.965789,-0.437679,-0.900371,0.790716,0.919365,1.000398,0.977120,0.943057
GOOGL,0.982637,0.936127,0.957537,-0.374079,-0.830252,0.841766,0.933588,0.977120,1.000398,0.890282
IBDRY,0.937436,0.868104,0.934601,-0.581739,-0.896533,0.705558,0.822986,0.943057,0.890282,1.000398

In [68]:
etfs

['SPY', 'IWM', 'DIA', 'SKT', 'DHC', 'AVB', 'TSLA', 'MSFT', 'GOOGL', 'IBDRY']

In [69]:
adj_close

,AVB,DHC,DIA,GOOGL,IBDRY,IWM,MSFT,SKT,SPY,TSLA
Date,,,,,,,,,,
2013-10-10,92.481331,13.308376,122.102951,21.727728,15.331400,92.803169,28.271120,20.599648,141.000015,11.528667
2013-10-11,92.877464,13.419374,123.081604,21.821571,15.363204,94.149628,28.580969,20.771418,141.908508,11.913333
2013-10-14,92.625359,13.424926,123.591148,21.924675,15.496801,94.621796,28.848934,20.728476,142.475311,11.981333
2013-10-15,92.546158,13.334667,122.410286,22.072323,15.363204,93.694984,28.882435,20.753008,141.441788,12.262667
2013-10-16,94.476280,13.577221,124.173546,22.473223,15.751261,94.857895,29.008053,21.041328,143.417099,12.237333
...,...,...,...,...,...,...,...,...,...,...
2023-10-03,167.410004,1.810000,329.980011,132.429993,41.730000,171.139999,313.390015,21.920000,421.589996,246.529999
2023-10-04,168.300003,1.880000,330.989990,135.240005,42.430000,171.220001,318.959991,22.410000,424.660004,261.160004
2023-10-05,170.259995,1.880000,331.170013,135.070007,42.910000,171.350006,319.359985,22.400000,424.500000,260.049988
2023-10-06,172.000000,1.830000,334.100006,137.580002,43.169998,173.000000,327.260010,22.480000,429.540009,260.529999
2023-10-09,174.210007,1.860000,336.089996,138.419998,43.279999,174.000000,329.820007,22.950001,432.290009,259.670013